html {
    background-size: streach;
    font-family: 'Sunflower', sans-serif;
    max-width: 99%;
}
h3 {
    color: white;
}
/* This controls the thing part */
.thing {
    background-color: rgba(180,180,180,0.6);
    grid-area: thing;
    align-content: center;
    text-align: center; }
    .thing:hover {
        background-color: rgba(200,200,200,0.8);
    }
/* This controls the date part */
.date {
    background-color: rgba(180,180,180,0.6);
    grid-area: date;
    align-content: center;
    text-align: center; }
    .date:hover {
        background-color: rgba(200,200,200,0.8);
    }
/* This controls the place part */
.place {
    background-color: rgba(180,180,180,0.6);
    grid-area: place;
    align-content: center;
    text-align: center; }
    .place:hover {
        background-color: rgba(200,200,200,0.8);
    }
/* Control the middle parts */
.mid {
  background-color: rgba(180,180,180,0.6);
    grid-area: mid;
    align-content: center;
    text-align: center;
    display: grid;
    grid-template-areas:
    "date"
    "thing"
    "place";
    }
    .mid:hover{
        background-color: rgba(200,200,200,0.8);
}
h2{
    color: aliceblue;
}
a {
    display: grid;
    color: azure;
    text-decoration: none;
}
    a:hover {
        color: white; }

/* this organises the rest of the site by using CSS griding*/
.site {
    grid-gap: 2px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-areas:
        "header"
        "mid"
        "footer";
}
/* this is the header */
.header {
    background-color: #B4E8DF;
    color: white;
    text-align: center;
    display: grid;
    grid-area: header;
}

/* this is the footer */
.footer {
    display: grid;
    background-color: #B4E8DF;
    color: aliceblue;
    text-align: center;
    grid-area: footer;
}
